
.progress{
    height: 21px;
}
.result-box {
    border: 1px solid #dadada;
    clear: both;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    width: 100%;
    box-shadow: 0 1px 0 0 #e9e9e9;
    display: inline-block;
}
.result-box .info-box {
    border: none;
    float: left;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: 300;
    position: relative;
    padding: 18px 26px;
    width: 70%;
    min-height: 115px;
}
.result-box .meta {
    color: #3e3e3e;
    min-height: 46px;
}
.result-box .meta .row {
    color: #a5a5a5;
    margin-top: 0;
    margin-bottom: 4px;
}
.result-box .meta .title {
    color: #3e3e3e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result-box .link-box {
    font-weight: 400;
    margin-top: 32px;
    *zoom: 1;
}
.result-box .link-box .def-btn-box {
    color: #fff;
    background-color: #00a129;
    border: 2px solid #00a129;
    display: block;
    float: left;
    padding: 0 10px;
    margin: 0;
}
.result-box .link-box .drop-down-box {
    display: block;
    float: left;
    position: relative;
}
.result-box .link-box .def-btn-box a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.result-box .link-box .def-file-info {
    color: #a5a5a5;
    font-weight: 300;
    display: block;
    float: left;
}
.result-box .thumb-box {
    border: none;
    float: left;
    position: relative;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    width: 30%;
    padding: 0;
}
.thumb-box, .thumb-box {
    overflow: hidden;
    position: relative;
}
.result-box.video .thumb-box {
    background-color: #222;
}
.thumb-box .thumb {
    display: block;
    z-index: 1;
}
.thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 150px;
}